<% provide(:title, "About") %>
<h1>About</h1>

<p>
  This site dedicated to introducing some of the most popular frameworks and basic technology to those who, just like me, are curious about how things on internet work.
</p>
<p>
  On this site, i will try to keep things simple and easy to understand, so people don't get freak out by those complicated technology. 
</p>
<p>
  I will start from  the basic ideas and introduce the common tools or frameworksunder current technology trend. 
</p>
