<div class="center jumbotron">
  <h1>Welcome to Taiwan Sausage</h1>
  
  <%=link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="row">
  <p>
	台灣香腸:
	肉汁飽滿...口味偏甜..口感飽足..香味十足...遵循台灣傳統香腸口味... 純手工製作...
	選用豬五花肉及天然腸衣...不含防腐劑... 建議保存方式, 放置於冷藏空間2~4天, 放置於冷凍
	空間1~2個月 售價: $8 per 1 pound
  </p>
  <p>
	台灣油飯:
	正宗台灣油飯.. 選用圓糯米, 香菇, 蝦米, 干貝以及豬五花肉...不添加防腐劑... 建議保存方式 
	存放於冷藏中, 食用時可蒸過, 建議兩天內食用完畢...售價: 10 dollars per box(2 pounds)  	  
  </p>
</div>

<%=link_to image_tag("sausage.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<%=link_to image_tag("haosheng.jpg", alt: "Haosheng logo"), 'https://www.facebook.com/groups/468434369979940/' %>

