<% provide(:title, "Resume") %>
<h1>Resume</h1>
<p>
  Work experience: 	Reliability Engineer at Qorvo Inc.
  			Design and build reliablity station for RF components testing. This job requires a great amout of work writing code to control the hardware and design PCB board.
			This is the one of the largest labs in this RF industry.
</p>
<p>
  Internship:	   	Process Engineer at RF Micro Devices.
  			1. Develop and optimize a recipe to deposit Si3N4 with Dual frequency CVD system. The film meets a product quality and can be deposited at a higher growth rate.
			2. Optimize the gap between the photo mask and wafer to get a well-defined pattern
			3. Develop a coating process to protect the die on the wafer during the laser-cutting process.
</p>
<p>
  Education:		North Carolina State University
  			Master in Electrical Engineering
			Master in Physics
</p>
<p>
  Projects:		Build a personal website with ruby on rails.
  			https://secure-woodland-5472.herokuapp.com

			Build a job searching website inspired by monster.
			Direwolf job portal.

			Computer Newworking

			Computer Architecture

</p>
<p>
  Links:		Linkedin Profile.
  			Quora
</p>
