<% provide(:title, "Resume") %>
<h1>Resume</h1>

<h2>
  Work experience:
</h2>

<p>
	Reliability Engineer at Qorvo Inc (2015.03-current)
</p>
  			Design and build reliablity station for RF components testing. This job requires a great amout of work writing code to control the hardware and designing PCB board. This is the one of the largest labs in the RF industry.
</p>

<h2>
  Internship:
</h2>

<p>
	Process Engineer at RF Micro Devices (2014.05-2014.08)
</p>
1. Develop and optimize a recipe to deposit Si3N4 film(the nitride layer in the RF devices) with Dual Frequency CVD system. The film meets the product quality and can be deposited at a higher growth rate.
</p>
2. Optimize the gap distance between the photo mask and wafer to get a well-defined pattern on the wafer. 
</p>
3. Develop a coating process to protect the die on the wafer during the laser-cutting process.
</p>

<h2>
  Education:	
</h2>

<p>	
		North Carolina State University
</p>
  		Master in ECE & Physics.
</p>
<p>	
		Harbin Institute of Technology
</p>
		BS in Electrical Engineering.
</p>

<h2>
  Projects:
</h2>

<p>	
		1. Build a personal website with ruby on rails.
  		https://secure-woodland-5472.herokuapp.com
</p>
<p>
		2. Build a job searching website inspired by monster.
		Direwolf job portal.
</p>
<p>		
		3. Computer Newworking
</p>
<p>
		4. Computer Architecture
</p>
<p>		
		5. Data mining
</p>

<h2>
  Links:
</h2>

<p>		
	Linkedin Profile.
	Github Profile.
</p>
