<footer class="footer">
  <small>
    This page is designed and implemented by Yinglei Zhang (张英雷).
    All Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",		about_path %></li>
      <li><%= link_to "Contact", 	contact_path %></li>
    </ul>
  </nav>
</footer>
