<footer class="footer">
  <small>
    This page is designed and implemented by Yinglei Zhang.
    Please contact yinglei.zh@gmail.com if you have any questions.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",		'#' %></li>
      <li><%= link_to "Contact", 	'#' %></li>
    </ul>
  </nav>
</footer>
